.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
}
.demo-card-square > .mdl-card__title1 {
  color: #fff;
  background:
    url('assets/gary-brickbackground-small-320w.jpg') bottom right 15% no-repeat #46B6AC;
}

.demo-card-square > .mdl-card__title2 {
  color: #fff;
  background:
    url('assets/ebc-gary-320w.jpg') bottom right 15% no-repeat #46B6AC;
}

.demo-card-square > .mdl-card__title3 {
  color: #fff;
  background:
    url('assets/gary-smokeys-320w.jpg') bottom right 15% no-repeat #46B6AC;
}

.demo-card-wide.mdl-card {
  width: 725px;
}
.demo-card-wide > .mdl-card__title {
  color: #000;
  height: 125px;
  background: url('assets/ohio-state-huskers.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;